

.lottie_right {
    position: absolute;
    margin-right: 9%;
}

.lottie_left {
    position: absolute;
    margin-right: 60px;
    /* background-color: black; */
    right: 0;
}

.parent_container {
    position: relative; /* Ensure that the parent has a relative position */
}