@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18181b;
  background-image: radial-gradient(circle, #d3d3db 1px, transparent 1px);
  background-size: 24px 24px;
}


